@-moz-document url-prefix("http://stackoverflow.com"), url-prefix("https://stackoverflow.com") {

    /**
     * General.
     */

    /* Tags. */
    .post-tag {
        border-bottom-color : rgb(179, 206, 225) !important;
        border-right-color  : rgb(179, 206, 225) !important;
    }

    /**
     * Question list.
     */

    /* Title links. */
    h3 > a {
        font-family : 'Trebuchet MS', 'Liberation Sans', 'DejaVu Sans', sans-serif !important;
        font-size   : 17px !important;
        font-weight : bold !important;
    }

    /* Votes, answers, views. */
    div.cp {
        font-family : Arial, 'Liberation Sans', 'DejaVu Sans', sans-serif !important;
    }

    .votes, .status, .views {
        font-size   : 13px !important;
        font-weight : normal !important;
    }

    div.cp > .status {
        width : 48px !important;
    }

    div.cp .mini-counts {
        font-size   : 20px !important;
        font-weight : normal !important;
    }

    /* Questions with favorite tags. */
    .tagged-interesting {
        background-color : rgb(255, 245, 222) !important;
    }

    /**
     * Question page.
     */

    /* Share, edit, close, flag link separator. */
    .lsep {
        color      : #cccccc !important;
        font-size  : 110% !important;
        visibility : visible !important;
    }

    /* Question header. Duh. */
    #question-header {
        padding : 0 !important;
    }

    #question-header h1 {
        margin-bottom : 7px !important;
    }

    /* Code. */
    .post-text code {
        font-size : 14px !important;
    }
    
    /* Buttons */
    input[type=submit], input[type=button], .button, a.button:link, a.button:visited, .btn {
        border: 2px solid #f00 !important;
        background: #222 !important;
        color: #fff !important;
        background-color: #009afd !important;
        border: 1px solid #1777b7 !important;
        box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset,0 1px 1px rgba(100,100,100,0.3) !important;
        padding: 8px 10px 7px 10px !important;
        border-radius: 3px !important;
        font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif !important;
        background: #444 !important;
        border-color: #222 !important;
    }
}
